# Python / Django
__pycache__/
*.py[cod]
env/
venv/
.env
staticfiles/
media/
*.log
db.sqlite3

# Node / Next.js
node_modules/
.next/
.vscode/
.DS_Store

# Deploy VPS / Nginx / Docker Prod (ignorado para deploy Railway/Vercel)
docker-compose.prod.yml
deploy.sh
nginx/
